@media only screen and (max-width: 600px){

    }

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {


}


.bear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

}

.bear :hover{
    border: double blue;
    margin: 5px;
    padding: 5px;
    
}


.block{
    border-left: double aqua 4px;
    border-top: double aquamarine 4px;
    border-right: double aquamarine 4px;
    border-bottom: double aqua 4px;
}

.block--font-fancy{
    font-family: fantasy;
    border:double blueviolet;
    text-align: center;
    margin: auto;
}

.pictures{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}